.container {
  display: grid;
  grid-template-areas:
    "nav nav"
    "header header"
    "offers offers"
    "main main"
    "summer winter";
}

/* navigation */
.container-nav {
  padding: 0;
  grid-area: nav;
}
.logo {
  height: 75px;
  width: 75px;
}

.nav header {
  padding: var(--gap-medium);
  background-color: var(--background-color);
}
.name {
  color: var(--primary-color);
  margin: 0;
}
.nav .name {
  margin-left: 0;
}
.search button {
  background-color: var(--primary-color);
}
.menu li {
  padding: var(--gap-small);
}
.menu a {
  padding: var(--gap-small);
  background-color: var(--primary-color);
}

/* category */

.category {
  grid-area: header;
  /* background-color: var(--secondary-color); */
  background-color: #006ba6;
  display: flex;
  justify-content: space-around;
}

.category > * {
  padding: var(--gap-small);
}

.category .content a {
  color: black;
}
.category .content:hover {
  background-color: var(--secondary-color);
}
.content .text {
  text-align: center;
  width: auto;
}

.color-box img {
  height: 4rem;
  width: 4rem;
}

/* offers */
.offers {
  padding: 0;
  grid-area: offers;
}

.offers {
  padding: 0;
  margin: 0;
  height: 35rem;
  padding: var(--gap-medium);

  background-color: var(--background-color);
}

.slider {
  width: 100%;
  height: 32.5rem;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 32.5rem;
  display: flex;
  position: relative;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 32.5rem;
}

/* css for navigation */

.navigation {
  position: absolute;
  width: 97vw;
  bottom: 2rem;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid var(--extra-color);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transform: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: var(--extra-color);
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

/* main */
main {
  grid-area: main;
  padding: 5rem;
}
.main-cards {
  background-color: white;
  flex-wrap: wrap;
}
.card-buy {
  justify-content: space-around;
  margin-top: 5px;
}

.card-btn {
  padding: var(--gap-small);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color);
}

/* footer */
.summer {
  grid-area: summer;
}
.winter {
  grid-area: winter;
}

.summer,
.winter {
  background-color: var(--secondary-color);
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* media query */
@media (max-width: 816px) {
  .container {
    grid-template-areas:
      "nav "
      "header "
      "offers "
      "main "
      "summer "
      "winter";
  }
}
